body {
    font-family: "Noto Sans JP", sans-serif;
}

/* mainvideo  動画*/

#video {
    width: 100vw;
}



#header-jump a {
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin: 0 auto;
    text-decoration: none;
    background: yellow;
}

.link {
    font-family: 'design_plus';
    content: '\e90e';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 23px;
    left: 21px;
    color: #333;
    font-size: 18px;
    display: block;
}

.link span {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}




/* header */
#header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 60px;
    background-color: rgb(255, 255, 255);
    z-index: 1;

}

.logo {
    font-weight: bold;
    font-size: 40px;
    position: relative;
}

.menu {
    display: flex;
}

.menu-top {
    margin-left: 100px;
    position: relative;
}

.tit {
    font-weight: bold;
}

.menu-top a {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.en {
    font-size: 4px;
    color: gray;
    opacity: 80%;
}

/* ヘッダーのホバー */
#menu-top{
    position: relative;
}

a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #000000;
    bottom: -2px;
    transform: scale(0, 1);
    transform-origin: right top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    transition: transform 0.3s;  /*変形の時間*/
    }
    
    a:hover::after {
    transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
    transform-origin: left top; /*左から右に向かう*/
    }

.eizo {
    display: none;
}

#menu-top:hover .eizo {
    display: block;
    position: absolute;
    top: 42px;
    left: -50%;
    padding: 0px;
    margin: 0;
    width: 150px;
    background-color: #3b3e4d;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
    left: 50%;
    margin-left: -120px;
    width: 240px;
}

.anime,
.hp {
    list-style: none;
    padding: 8px 12px;
    font-size: 15px;
    color: white;
}

.anime:hover,.hp:hover{
background-color: #535664;

}

/* section01 */
#content1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photo a img {
    border-radius: 50%;
    width: 30vw;
}

.text h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

/* section2 */

#content2 {
    margin: 0 auto;
    padding: 10px 0 40px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

#content2 ol {
    margin-bottom: 40px;
    padding: 30px 40px 40px;
    text-align: left;
    border-radius: 20px;
    background-color: #f7f7f7;
}

#content2 ol li {
    margin-bottom: 10px;
    font-size: 18px;
    border-bottom: 2px solid #d5c800;
}

#content2 ol li:last-child {
    margin-bottom: 0;
}

#content2 ol li time {
    margin-right: 20px;
    font-size: 18px;
}

#content2 h2 {
    font-size: 30px;
}

/* 問い合わせボタン */
.link_contact a {
    display: inline-block;
    padding: 15px 60px;
    color: white;
    font-weight: 500;
    box-shadow: 0 5px 0 #b07c00;
    background-color: #e29000;
}

.link_contact a:hover {
    background-color: #e89d19;
}

/* footer */
.footer {
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white;
}

/* ここからservice */
#movie {
    padding: 180px 100px 80px;
    background-color: #ede9e9;
    height: 100vh;
}

.video-gif {
    display: flex;
    justify-content: space-around;
}

.img2 {
    width: 384px;
    height: 216px;
}


/* ここからinformation- */
#information {
    padding: 180px 100px 80px;
    text-align: center;
    background-color: #ede9e9;
}

#information .wrapper {
    margin: 0 auto;
    width: 100%;
}

#information h1 {
    display: inline-block;
    margin: 0 auto 40px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 4px solid #222;
}

#information article {
    margin-bottom: 40px;
    padding: 40px 40px 35px;
    text-align: left;
    border-radius: 20px;
    background-color: white;
}


#information article h2 {
    font-size: 20px;
    margin-bottom: 30px;
    padding-bottom: 12px;
    border-bottom: 2px solid #d5c800;
}

/* ここからcontact　真ん中揃えc */
#contact {
    padding: 180px 100px 102px;
    text-align: center;
    background-color: #ede9e9;
}

#contact .wrapper {
    margin: 0 auto;
    width: 100%;
}

/* 全体のレイアウト */
#contact h1 {
    display: inline-block;
    margin: 0 auto 30px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 4px solid black;
}

#contact .text_lead {
    margin-bottom: 35px;
    font-size: 15px;
}

#contact article {
    margin-bottom: 40px;
    padding: 40px 40px 35px;
    text-align: left;
    border-radius: 20px;
    background-color: white;
}


/* 最後 */
#contact article h2 {
    margin-bottom: 30px;
    padding-bottom: 12px;
    font-size: 20px;
    border-bottom: 2px solid #d5c800;
}

#contact article .text_content {
    font-size: 15px;
}

#contact article .text_content a {
    color: #0072d3;
    font-weight: bold;
}

#contact article .text_content a:hover {
    text-decoration: underline;
}

/* レスポンシブ対応 */
