body {
    font-family: "Noto Sans JP", sans-serif;
}


/* mainvideo  動画*/

#video {
    width: 100vw;
}



#header-jump a {
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin: 0 auto;
    text-decoration: none;
    background: yellow;
}

.link {
    font-family: 'design_plus';
    content: '\e90e';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 23px;
    left: 21px;
    color: #333;
    font-size: 18px;
    display: block;
}

.link span {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}




/* header */
#header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 60px;
    background-color: #ede9e9;
    z-index: 1;

}

.logo {
    font-weight: bold;
    font-size: 40px;
    position: relative;
}

.menu {
    display: flex;
}

.menu-top {
    margin-left: 100px;
    position: relative;
}

.tit {
    font-weight: bold;
}

.menu-top a {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.en {
    font-size: 4px;
    color: gray;
    opacity: 80%;
}

/* ヘッダーのホバー */
#menu-top {
    position: relative;
}

a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    bottom: -2px;
    transform: scale(0, 1);
    transform-origin: right top;
    /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    transition: transform 0.3s;
    変形の時間
}

a:hover::after {
    transform: scale(1, 1);
    /*ホバー後、x軸方向に1（相対値）伸長*/
    transform-origin: left top;
    /*左から右に向かう*/
}

.eizo {
    display: none;
}

.eizo a::after{
    content: none;
}
#menu-top:hover .eizo {
    display: block;
    position: absolute;
    top: 42px;
    left: -50%;
    padding: 0px;
    margin: 0;
    width: 150px;
    background-color: #3b3e4d;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
    left: 50%;
    margin-left: -120px;
    width: 240px;
}

.anime,
.hp {
    list-style: none;
    padding: 8px 12px;
    font-size: 15px;
    color: white;
}

.anime:hover,
.hp:hover {
    background-color: #535664;

}

/* section01 */
#content1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 150px 0;
}

.photo a img {
    border-radius: 50%;
    width: 30vw;
}

.text h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

/* section2 */

#content2 {
    margin: 0 auto;
    padding: 10px 0 40px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

#content2 ol {
    margin-bottom: 40px;
    padding: 30px 40px 40px;
    text-align: left;
    border-radius: 20px;
    background-color: #f7f7f7;
}

#content2 ol li {
    margin-bottom: 10px;
    font-size: 18px;
    border-bottom: 2px solid #d5c800;
}

#content2 ol li:last-child {
    margin-bottom: 0;
}

#content2 ol li time {
    margin-right: 20px;
    font-size: 18px;
}

#content2 h2 {
    font-size: 30px;
}

/* 問い合わせボタン */
.link_contact a {
    display: inline-block;
    padding: 15px 60px;
    color: white;
    font-weight: 500;
    box-shadow: 0 5px 0 #b07c00;
    background-color: #e29000;
}

.link_contact a:hover {
    background-color: #e89d19;
}

/* footer */
.footer {
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white;
}

/* ここからservice */
#movie {
    padding: 180px 100px 80px;
    background-color: #ede9e9;
    height: 100vh;
}

.video-gif {
    display: flex;
    justify-content: space-around;
}

.img2 {
    width: 384px;
    height: 216px;
}


/* ここからinformation- */
#information {
    padding: 180px 100px 80px;
    text-align: center;
    background-color: #ede9e9;
}

#information .wrapper {
    margin: 0 auto;
    width: 100%;
}

#information h1 {
    display: inline-block;
    margin: 0 auto 40px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 4px solid #222;
}

#information article {
    margin-bottom: 40px;
    padding: 40px 40px 35px;
    text-align: left;
    border-radius: 20px;
    background-color: white;
}


#information article h2 {
    font-size: 20px;
    margin-bottom: 30px;
    padding-bottom: 12px;
    border-bottom: 2px solid #d5c800;
}

/* ここからcontact　真ん中揃えc */
#contact {
    padding: 180px 100px 102px;
    text-align: center;
    background-color: #ede9e9;
}

#contact .wrapper {
    margin: 0 auto;
    width: 100%;
}

/* 全体のレイアウト */
#contact h1 {
    display: inline-block;
    margin: 0 auto 30px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 4px solid black;
}

#contact .text_lead {
    margin-bottom: 35px;
    font-size: 15px;
}

#contact article {
    margin-bottom: 40px;
    padding: 40px 40px 35px;
    text-align: left;
    border-radius: 20px;
    background-color: white;
}


/* 最後 */
#contact article h2 {
    margin-bottom: 30px;
    padding-bottom: 12px;
    font-size: 20px;
    border-bottom: 2px solid #d5c800;
}

#contact article .text_content {
    font-size: 15px;
}

#contact article .text_content a {
    color: #0072d3;
    font-weight: bold;
}

#contact article .text_content a:hover {
    text-decoration: underline;
}

/* レスポンシブ対応 */
@media screen and (max-width: 780px) {

    #header {
        position: static;
        padding: 10px 60px;
        justify-content: center;
    }

    .menu-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: #3584bb;
    }

    /* blockをつけることによって
ラベルのスパンが縦並びになる
スパンは真ん中の線（要素）
contentに何も入れず
要素の前と後ろを同じに線をつける
abusoluteは絶対位置*/
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: white;
        position: absolute;
    }

    /* 下から８px */
    .menu-btn span:before {
        bottom: 8px;
    }

    /* 上から８px */
    .menu-btn span:after {
        top: 8px;
    }

    /* クリックしたら真ん中の線を消して×に動かす */
    #menu-btn-check:checked~.menu-btn span {
        background-color: rgba(255, 255, 255, 0);
        /*メニューオープン時は真ん中の線を透明にする*/
    }

    #menu-btn-check:checked~.menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    #menu-btn-check:checked~.menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    /* メニュー部分の装飾 */
    .menu {
        display: block;
    }

    .menu-top {
        margin-left: 0;
    }

    .menu-top a {
        text-align: left;
    }

    .hamburger-menu {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 80;
        background-color: #a6bccb;
    }

    .hamburger-menu ul {
        padding: 70px 10px 0;
    }

    .hamburger-menu ul li {
        border-bottom: solid 1px #ffffff;
        list-style: none;
    }

    .hamburger-menu ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color: #ffffff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }

    .hamburger-menu ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }

    .hamburger-menu {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        /*leftの値を変更してメニューを画面外へ*/
        z-index: 80;
        background-color: #3584bb;
        transition: all 0.5s;
        /*アニメーション設定*/
    }

    /* チェックボックスがチェックされたら要素が動く */
    #menu-btn-check:checked~.hamburger-menu {
        left: 0;
        /*メニューを画面内へ*/
    }

    .en {
        color: azure;
    }

    a::after {
        display: none;
    }

    /* service */
    .video-gif {
        display: block;
        text-align: center;
    }

    #movie {
        padding: 60px 100px 70px;
    }
    .video-gif img{
        margin-bottom: 50px;
    }
    #menu-top:hover .eizo {
        display: none
    }

    /* infomasion */
    #information {
        padding: 50px 100px 80px;}
        /* contact */
        #contact {
            padding: 50px 100px 102px;

}